@import url(./popup.css);
@import url(./animation.css);
@import url(./variable.css); /* RESET CSS */
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
html {
  scroll-behavior: smooth;
}
body,
html {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}
article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}
a {
  cursor: point;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  font-family: 'Quicksand', sans-serif;
}
button,
input,
select,
label,
li,
span {
  -webkit-appearance: none;
  outline: none;
  font-family: 'Quicksand', sans-serif;
}
p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
}

blockquote q {
  color: var(--heading-color);
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}
a:hover {
  text-decoration: none;
}
button:focus {
  outline: none;
}
.container {
  max-width: 1200px;
}
.mr-20 {
  margin-right: 20px;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-style,
.btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn-white:hover {
  background: #fff;
  border: 2px solid #fff;
  color: var(--primary-color);
}
.btn-primary {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  opacity: 0.8;
}
/* SAME CSS */
.agent__desc h3,
.about__title h3,
.categories__title h3,
.blogposts__title h3,
.testimoial__title h3 {
  font-size: clamp(1.625rem, 1.4073rem + 0.9677vw, 2.375rem);
  line-height: clamp(2.25rem, 2.0323rem + 0.9677vw, 3rem);
  font-weight: 600;
} /* HEADER */
#header {
  background-size: cover;
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../images/banner1.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: initial;
  background-attachment: fixed;
  min-height: 705px;
}
.header__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(6 3 0 / 77%);
}
.header__overlay--scale {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.9);
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
.header__overlay--scale.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.4s, opacity 0.4s;
}
.header__overlay__button--close {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 40px;
  top: 40px;
  overflow: hidden;
  border: none;
  background: var(--primary-color);
  color: #fff;
  border-radius: var(--border-radius);
}
.header__overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  transform: translateY(-50%);
}
.header__overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}
.header__overlay li {
  display: block;
  backface-visibility: hidden;
  line-height: 3em;
}
.header__overlay ul li a {
  font-size: 20px;
  font-weight: 600;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.header__overlay ul li a:hover,
.header__overlay ul li a:focus {
  color: var(--primary-color);
}
.header__menu {
  padding: 40px 0 20px 0;
  align-items: center;
}
.header__menu__right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.header__logo {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff !important;
}
.header__search__input {
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: var(--font-color);
  border: none;
  font-weight: 400;
  border-radius: var(--border-radius);
  position: relative;
  right: 0;
  background: var(--bg-color);
  outline: 0;
  border: 1px solid var(--bg-color);
  font-family: 'Quicksand', sans-serif;
}

.header__search__input:focus {
  border-color: transparent;
  outline: 0;
  box-shadow: none;
}

.header__search__icon {
  font-size: 15px;
  color: var(--font-color);
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}
.header__switch__theme__container {
  width: 24px;
  height: 24px;
  padding: 1px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header__switch__theme_container__icon__moon,
.header__switch__theme_container__icon__sun {
  color: #eee;
  font-weight: lighter;
  position: relative;
  transform: rotate(-25deg) scale(1.3);
  width: 20px;
  height: 20px;
  border: 2px solid transparent;
}
.header__burger__button {
  outline: none;
  border: none;
  background: none;
  text-align: center;
  color: #fbfdfb;
  font-size: 1.95em;
  padding: 0 8px;
}
.header__banner {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}
.header__banner h3 {
  font-size: clamp(1.75rem, 1.0536rem + 3.0952vw, 3.375rem);
  font-size: clamp(2.375rem, 1.6786rem + 3.0952vw, 4rem);
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}
.header__banner p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}
.header__banner__btn--white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: var(--border-radius);
}

.header__banner__btn--white:hover {
  background: #fff;
  color: var(--primary-color);
}

/* ABOUT US */
.about__title h6 {
  font-size: clamp(1rem, 0.9274rem + 0.3226vw, 1.25rem);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
.about__desc p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  font-family: 'Quicksand', sans-serif;
} /* AGENT */
#agent {
  background: var(--primary-color);
}
.agent__image {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  min-height: 600px;
}
.agent__image::before {
  content: '';
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.agent__desc h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #fff;
  display: block;
  font-family: 'Pacifico', cursive;
}
.agent__desc p {
  color: #ffdfc9;
}
.agent__subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
}
.agent__subscribe__item {
  width: calc(100% / 2);
}
.agent__subscribe__item:hover .agent__subscribe__item__icon span {
  color: var(--secondary-color);
}
.agent__subscribe__item__icon {
  background: #fff;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}
.agent__subscribe__item__icon span {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
  transition: 0.3s ease-in-out;
}
.agent__subscribe__item a {
  display: block;
  color: var(--heading-color);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  font-size: 20px;
}
.agent__subscribe__item p {
  color: #ffdfc9;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 28px;
  font-family: 'Quicksand', sans-serif;
} /* CATEGORIES */
#categories {
  background: var(--bg-grey);
}
.categories__title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
.categories__image {
  position: relative;
}
.categories__image::after {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: ' ';
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  border-radius: 6px;
}
.categories__image a img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border-radius: 6px;
  transition: all 0.4s;
}
.categories__image a img:hover {
  opacity: 0.85;
}
.categories__info {
  opacity: 1;
  transition: all 0.4s;
  left: 30px;
  bottom: 20px;
  position: absolute;
  color: #fff;
  transform: translate3d(0, 10%, 0);
}
.categories__info h4 {
  font-size: 22px;
  line-height: 30px;
  color: #fff;
  font-weight: 700;
}
.categories__info h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}
.categories__info h6 span {
  font-weight: 600;
  color: var(--secondary-color);
  font-size: 18px;
  letter-spacing: 1px;
}
.categories__info a:hover {
  text-decoration: none;
} /* FEATURES */
.features__item {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
}
.features__item__wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.features__item:hover {
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 10%);
}
.features__item:hover .features__item__wrap__icon {
  background-color: var(--primary-color);
}
.features__item:hover .features__item__wrap__icon span.fa {
  color: #fff;
}
.features__item__wrap__icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: var(--bg-light);
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
}
.features__item__wrap__icon span.fa {
  color: var(--primary-color);
  font-size: 25px;
  line-height: 70px;
  transition: 0.3s ease-in-out;
}
.features__item__wrap__info h4 a {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 0px;
  display: block;
  color: var(--heading-color);
  transition: 0.3s ease-in-out;
}
.features__item__wrap__info h4 a:hover {
  text-decoration: none;
  color: var(--primary-color);
} /*HOME SERVICE */
#home__service {
  margin: 8px auto;
  display: block;
  text-align: center;
  background: url(../images/banner2.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#home__service::before {
  content: '';
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.home__service__wrapper {
  max-width: 700px;
  margin: 0 auto;
}
.home__service__wrapper h3 {
  font-size: clamp(2.1875rem, 2.006rem + 0.8065vw, 2.8125rem);
  line-height: clamp(2.5rem, 2.2278rem + 1.2097vw, 3.4375rem);
  font-weight: 600;
  color: #fff;
  max-width: 800px;
} /* STAT */
#stat {
  margin-top: -70px;
  z-index: 10;
  position: relative;
}
.stat__counter {
  background-color: var(--bg-color);
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  padding: 40px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: 0.3s ease;
}
.stat__counter:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}
.stat__counter span.fa {
  background: var(--primary-color);
  font-size: 26px;
  border-radius: 50%;
  width: 68px;
  height: 68px;
  line-height: 68px;
  color: #fff;
  text-align: center;
}
.stat__counter__timer {
  font-size: clamp(2rem, 1.8258rem + 0.7742vw, 2.6rem);
  font-weight: 600;
  color: var(--heading-color);
}
.stat__count__text {
  text-transform: capitalize;
  color: var(--font-color);
  font-weight: 600;
  font-size: clamp(0.9rem, 0.8419rem + 0.2581vw, 1.1rem);
} /* VIDEO */
.video__wrapper__info {
  background: url(../images/banner3.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}
.video__wrapper__info::before {
  content: '';
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}
.video__wrapper__info__play__view {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.video__wrapper__info__play__icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: var(--primary-color);
  border: transparent;
  background: #fff;
}
.video__wrapper__info__play__icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: var(--primary-color);
  border: transparent;
  color: #fff;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
} /* BLOG POST */
#blogposts {
  background: var(--bg-grey);
}
.blogposts__title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
#blogposts .card {
  border: none;
  border-radius: 0;
  background-color: transparent;
}
#blogposts .card-header {
  border: none;
}
.blogposts__header__image--radius {
  border-radius: var(--border-radius);
}
.blogposts__header__post--pos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.blogposts__header__post__receipe {
  background: var(--primary-color);
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: 0.05em;
}

.blogposts__header__post__receipe:hover {
  color: white;
}

.blogposts__header__post__meta__info {
  opacity: 1;
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.02em;
}
.blogposts__body__desc {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 25px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.blogposts__body__desc:hover {
  color: var(--heading-color);
}

.blogposts__body__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogposts__body__footer__meta__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blogposts__body__footer__meta--read {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--heading-color);
  opacity: 0.9;
  transition: 0.3s all;
}

.blogposts__body__footer__meta--read:hover {
  color: var(--primary-color);
}

.blogposts__body__footer__meta__info a {
  font-weight: 700;
  color: var(--heading-color);
  letter-spacing: 0.02em;
}
.blogposts__body__footer__meta__info__img__anchor {
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}
.blogposts__body__footer__meta__info__img__anchor img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
} /* TESTIMONIALS */
.testimoial__title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: var(--primary-color);
  display: block;
  font-family: 'Pacifico', cursive;
}
.testimonial__content {
  max-width: 700px;
  margin: auto;
}
.testimonial__content__item__img--responsive {
  left: 0px;
  top: 0px;
  width: 85px;
  height: 85px;
  overflow: hidden;
  border-radius: 50%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.testimonial__content__item__img--responsive img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.testimonial__content__item blockquote q {
  font-style: italic;
  letter-spacing: 1px;
  font-size: 24px;
  line-height: 36px;
  color: var(--heading-color);
  font-weight: 600;
}

.testimonial__content__item blockquote q::before {
  font-size: 50px;
  color: var(--primary-color);
  display: block;
  font-family: inherit;
}
.testimonial__content .owl-theme .owl-dots button:focus {
  outline: none;
}
.testimonial__content .owl-theme .owl-dots button.owl-dot {
  padding: 1px 6px !important;
}
.testimonial__content .owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #d8d8d8;
  display: block;
  transition: opacity 0.2s ease;
  border-radius: 30px;
  position: relative;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--primary-color);
}
.testimonial__content__item .people-info h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
} /* FOOTER */
#footer {
  background: var(--footer-bg);
}
.footer__logo__brand {
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  padding: 0;
  transition: 0.3s all;
}

.footer__logo__brand:hover {
  color: #ff6600;
}
.footer p {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer ul {
  margin: 0;
  padding: 0;
}
.footer ul h6 {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
.footer ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
}
.footer ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  transition: all;
}
.footer ul li a:hover {
  color: var(--primary-color);
}
.footer__main__social a {
  margin-right: 10px;
  color: var(--primary-color);
  display: inline-block;
  text-align: center;
  font-size: 16px;
  background: var(--bg-color);
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.footer__main__social a:hover {
  background: var(--primary-color);
  color: #fff;
}
.footer__main__social a span.fa {
  line-height: 36px;
}
.footer__subscribe__title {
  font-size: 22px;
  line-height: 28px;
  margin-bottom: 30px;
  font-weight: 700;
  position: relative;
  color: #fff;
}
.footer__subscribe__form {
  position: relative;
}
.footer__subscribe__form input[type='email'] {
  padding: 14px 20px;
  font-size: 18px;
  line-height: 28px;
  border: 1px solid transparent;
  outline: none;
  width: 100%;
  color: var(--font-color);
  background: var(--bg-color);
  border-radius: var(--border-radius);
}
.footer__copyright {
  padding: 1.2em 0;
  background: var(--footer-bg);
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.footer__copyright a button {
  display: block;
  position: fixed;
  bottom: 55px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  padding: 0;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
}
.footer__copyright__copies p {
  align-self: center;
  color: #ddd;
  font-size: 17px;
}
.footer__copyright__copies p a {
  color: var(--primary-color);
  transition: all 0.3s;
}
.footer__copyright__copies p a:hover {
  color: #fff;
}
.footer__copyright__list ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__copyright__list ul li a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  transition: 0.3s all;
}

.footer__copyright__list ul li a:hover {
  color: #ff6600;
}

.buttonMoveTop {
  opacity: 0;
  transition: all 0.3s;
}
.buttonMoveTop.active {
  opacity: 1;
} /* MEDIA QUERY */
@media (max-width: 992px) {
  .agent__image {
    min-height: 200px;
  }
  .agent__subscribe__item a {
    font-size: 18px;
  }
  .blogposts__body__desc {
    font-size: 20px;
    line-height: 30px;
  }
  .footer__subscribe__title {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
@media (max-width: 800px) {
  .categories__info h4 {
    font-size: 18px;
    line-height: 28px;
  }
  .categories__info h6 span {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .about__desc p {
    font-size: 16px;
    line-height: 26px;
  }
  p {
    font-size: 16px;
    line-height: 26px;
  }
  .agent__desc h6,
  .categories__title h6,
  .blogposts__title h6,
  .testimoial__title h6 {
    font-size: 16px;
  }
  .testimonial__content__item blockquote q {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 480px) {
  .header__banner {
    max-width: 500px;
    margin-top: 30px;
  }
  .btn-style,
  .btn-white {
    padding: 10px 21px;
  }
  .testimonial__content__item blockquote q {
    font-size: 20px;
    line-height: 30px;
  }
}
